@page
@model IndexModel
@{
    ViewData["Title"] = "What 2 Make?!";
}

<div class="jumbotron vertical-center" style="background-color: white">
    <div class="container text-center">
        <div class="text-center">
            <h1 class="display-4 font-weight-bold">What2Make?!</h1>
            <div style="color: #646462">
                <h6>It's the question that brought you here. You know the question, just as I did.</h6>
            </div>
            <br />
            <h4>What2Make will help you find delicious recipes based on ingredients you already have at home!</h4>
        </div>
        <br />

        <ul class="list-group list-group-horizontal flex-column flex-sm-row justify-content-sm-center" style="padding-bottom:10cm">
            <li class="list-group-item" style="border-color:transparent; background-color:transparent">
                <div class="card" style="width: 25rem;">
                    <img src="https://media3.s-nbcnews.com/j/newscms/2019_41/3044956/191009-cooking-vegetables-al-1422_ae181a762406ae9dce02dd0d5453d1ba.nbcnews-fp-1200-630.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color:#f6f1de">
                        <p class="card-text">Find recipes you can cook right now without a trip to the grocery store.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item" style="border-color:transparent; background-color:transparent">
                <div class="card" style="width: 25rem;">
                    <img src="https://media3.s-nbcnews.com/j/newscms/2019_41/3044956/191009-cooking-vegetables-al-1422_ae181a762406ae9dce02dd0d5453d1ba.nbcnews-fp-1200-630.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color:#f6f1de">
                        <p class="card-text">Share your culinary favorites with What2Make for others to discove.</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>


